---
import Head from '@/components/layout/Head.astro';
import { SITE } from '@/data/consts';
import '@/styles/global.css';
---

<!doctype html>
<html lang={SITE.locale}>
  <Head>
    <slot name="head" />
  </Head>

  <body class="bg-bg text-text-primary">
    <main>
      <slot />
    </main>
  </body>
</html>
